/*universel*/
@font-face {
    font-family:'SEGOEUIL';
    src: url("fonts/SEGOEUIL.woff") format("woff");
}
body {
    margin:0;
    min-width:1170px;
}

 p, ul,h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    margin:0;
    font-family: 'SEGOEUIL';
    font-weight:normal;
    text-transform: uppercase;
    font-size:30px;
}
span{
    border-bottom: 2px solid;
}
.nav a {
    border: 2px solid transparent;
    padding:5px 13px 5px 13px;
    font-size:14px;
    font-weight: bold;
    text-decoration:none;
    text-transform: uppercase;
}

.nav a:hover {
    border: 2px solid;
    padding:5px 13px 5px 13px;
    color:#4bcaff;
}

.container {
    width: 85%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0;
}
.page-auto {
    margin: 0;
    width: 100%;
}

.titre{
    display:flex;
    height:115px;
    justify-content:flex-start;
    align-items:flex-end;  
}

.titre2{
    display:flex;
    height:115px;
    justify-content:space-between;
    align-items:flex-end;  
}

.nav1 a {
    color:white;
}

.nav2 a {
    color:#353f46;
}

p {
    color:#353f46 
}
/*header général*/
.header {
    height: 800px;
 }

.bg-home {
    background-image: url("images/banniere.jpg");
    background-repeat: no-repeat;
}

.headerbg {
    background-color: #353f46;
    opacity: 85%;
    height: 150px;
}
/*header partie 1*/
.header1 {
    display:flex;
    justify-content: space-between;
    height: 150px;
    align-items:center;
}
.nav{
    width:530px;
}

.active a{
    border: 2px solid;
    padding:5px 13px 5px 13px;
    color:#4bcaff;
}
.nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;

}

/*header partie 2*/
.header2 {
    padding-top: 250px;
    padding-bottom:250px;
    text-align : center;
}

h1 { 
    font-family:'SEGOEUIL';
    text-transform: uppercase;
    font-size:42px;
    color:white;
    font-weight:normal;
    display : inline;
    background-color: #353f46;
    opacity: 85%;
    line-height: 160%;
}

/*service*/
.f-display {
    display:flex;
}

.column-three {

    margin-right: 30px;
    box-sizing: border-box;
    width:33.3333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
}

.column-four {
    box-sizing: border-box;
    width:33.3333333333333333333333333333333333333333333333333333333333333333333333333333333333%;
}

.bg-service {
    background-color: #4bcaff;
}

.service {
    height:405px;
}
.service h2,h3 {
    color:white;
}
.service p {
    color:white;
}


.service h3{
    font-size: 24px;
    text-transform: uppercase;
    margin:0;
}
.service p {
    font-size: 12px;
}

/*portfolio*/
.margin {
    margin-top: 50px;
}

.portfolio {
    height: 850px;
}

.petit-logo {
    margin-top:40px;
}

/*just default section*/
.bg-just-default-section {
    background-color: #515f67;
}
.just-default-section {
    height:473px;
}

.specialcolumn {
    box-sizing: border-box;
    width:50%;
    margin-right: 100px;
}
.specialcolumn2 {
    box-sizing: border-box;
    width:50%;
    height:473px;
    align-items: center;
}

.just-default-section p{
    margin-top: 40px;
    color:white;
}

.just-default-section h2{
    color:white;
}
.button-just {
    background-color: transparent;
    border: 2px solid #353f46;
    color: #353f46;
    padding: 11px 30px;
    font-size: 14px;
    font-weight:bold;
}

/*twitter*/
.twitter{
    height:305px;
}
.bg-twitter {
    background-color: #4bcaff
}
#twitter {
    color:white;
} 
.text p {

    font-weight: lighter;
    font-size: 28px;
    line-height: 160%;
}

.textcolor p {
    color:white;
}

/*who-is-john*/
.who-is-john {
    height:505px;
}

.bg-who-is-john {
    background-image: url("images/who-is-john-doe.jpg");
    background-repeat: no-repeat;
}

.column {
    margin-top:20px;
    margin-right: 40px;
    box-sizing: border-box;
    width:50%;
}

.column-two {
    margin-top:20px;
    box-sizing: border-box;
    width:50%;
}
.who-is-john h2 {
    color:white;
}

.who-is-john p {
    margin-bottom: 40px;
    color:white;
}
.petit-logo-width {
    width:320px;
}

.cadre {
    height:64px;
    width:64px;
    border: 2px solid;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}


/* testimonials*/

.text2 p {
    font-size: 14px;
    font-weight: bold;
    color:#4bcaff;
}

.testimonials {
    height: 360px;
}

/*contact*/

.contact {
    height:814px;
}

.bg-contact {
    background-image: url("images/contact.jpg");
    background-repeat: no-repeat;
}

.columne {
    flex-direction: column;
}

.column-contact {
    flex-direction:column;
    margin-top:40px;
}

.design {
    width:470px;
    margin-right:130px;
}

.design1{
    height:60px;
    background-color: transparent;
    border: 2px solid white;
}

.taille{
    height:222px;
    width:1170px;
    background-color: transparent;
    border: 2px solid white;
}

.bouton2 {
    margin-top: 40px;
    background-color: #4bcaff;
    border-color: transparent;
    color: White;
    padding: 25px 130px;
    font-size: 14px;
    font-weight:bold;
}

/*footer*/
.footer {
    height:170px;
}
.bg-footer{
    background-color: #353f47;
}
.titre3 {
    display:flex;
    height:170px;
    justify-content:space-between;
    align-items: center;
}
.nav-footer {
    width: 400px;
}

.nav-footer a{
    text-decoration: none;
    color: #4c5961;
    font-weight: bold;
    font-size: 12px;
}

.footer p{
    color: #4c5961;
    font-weight: bold;
    font-size: 12px;
}

.nav-footer ul{
    color: #4c5961;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding:0;
}


/********* Superposition simple de texte sur une image *******/
/* Conteneur principal */
.overlay-image {
    position: relative;
    width: 100%;
   }
   /* Image originale */
   .overlay-image .image {
    display: block;
    width: 100%;
    height: auto;
   }
   /* Overlay */
.overlay-image .hover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease;
   }
   /* Apparition overlay sur passage souris */
   .overlay-image:hover .hover {
    opacity: 0.8;
   }